.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }
  .footer__column-link:hover {
    opacity: 50%;
    transition-duration: 0.3s;
  }