@import url(./__triangle/kaufman__triangle.css);
@import url(.__triangle_rotation/kaufman__triangle_rotation.css);
.kaufman {
    background-color: #1f1f1f;
    padding: 90px 0;
    overflow: hidden;
    position: relative;
  }